.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: red;
}

table {
  color: rgb(9, 9, 214);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #2f6e3d;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}