
<body>
    <h3>Orbit Report</h3>
    <table matSort (matSortChange)="sortData($event)"> 
        <tr class="header-row">
            <th class="sortable" mat-sort-header="name">Name</th>
            <th class="sortable" mat-sort-header="type">Type</th>
            <th>Operational</th>
            <th>Orbit Type</th>
            <th>Launch Date</th>
        </tr>
        <tr *ngFor="let satellite of satellites; let i = index"> 
            <th>{{i + 1}} - {{satellite.name}}</th>
            <th [class.warning] = "satellite.shouldShowWarning()">{{satellite.type}}</th>
            <th>{{satellite.operational}}</th>
            <th>{{satellite.orbitType}}</th>
            <th>{{satellite.launchDate}}</th>
        </tr>
    </table>
</body>